{% extends "base.html" %}
{% block title %}
Обучение программированию
{% endblock %}
{% block style %}
{% include "inc_style.html" %}
{% endblock %}
{% block menu %}
{% include "inc_menu.html" %}
{% endblock %}
{% block sidebar %}
{% include "inc_sidebar.html" %}
{% endblock %}

{% block body %}

<div id="content">
    <h1>Создание категории</h1>
    <form method="post">
        {% if top_category_name %}
        Основная категория {{ top_category_name }}<br>
        <input type="hidden" name="top_category_name" value="{{ top_category_name }}"><br>
        <input type="hidden" name="top_category_id" value="{{ top_category_id }}"><br>
        <input type="text" name="name" placeholder="Название подкатегории">
        {% else %}
        <input type="text" name="name" placeholder="Название категории">
        {% endif %}
        <button type="submit">Сохранить</button>
    </form>
</div>
{% endblock %}

{% block footer %}
{% include "inc_footer.html" %}
{% endblock %}