{% extends "base.html" %}
{% block title %}
Обучение программированию
{% endblock %}
{% block style %}
{% include "inc_style.html" %}
{% endblock %}
{% block menu %}
{% include "inc_menu.html" %}
{% endblock %}
{% block sidebar %}
{% include "inc_sidebar.html" %}
{% endblock %}

{% block body %}
<div id="content">
    <div>
        <a href="/create-category/">Создать новую категорию</a>
    </div>
    <div>
        <h1>Список существующих категорий</h1>
        <table>
            <tr>
                <td>Категория</td>
                <td>Подкатегория</td>
                <td>Кол-во курсов</td>
            </tr>
            {% for item in objects_list %}
            <tr>
                <td>{{item.name}}</td>
                <td>
                    {% if item.subcategory %}
                    {% for sub_item in item.subcategory %}
                    {{ sub_item.name }},<br>
                    {% endfor %}
                    {% endif %}
                    <a href="/create-category/?name={{item.name}}&id={{item.id}}">создать</a>
                </td>
                <td>{{ item.course_count() }}</td>
                <td><a href="/courses-list/?id={{item.id}}">показать курсы</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "inc_footer.html" %}
{% endblock %}