<div id="header">
    <div id="logo">
        <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="/">Школа программирования</span></a></h1>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
            <!-- class="selected" -->
            <li><a href="/">Главная</a></li>
            <li><a href="/curses/">Наши курсы</a></li>
            <li><a href="/contacts/">Контакты</a></li>
        </ul>
    </div>
</div>