{% extends "base.html" %}
{% block title %}
Обучение программированию
{% endblock %}
{% block style %}
{% include "inc_style.html" %}
{% endblock %}
{% block menu %}
{% include "inc_menu.html" %}
{% endblock %}
{% block sidebar %}
{% include "inc_sidebar.html" %}
{% endblock %}

{% block body %}
<div id="content">
    <div>
        <a href="/admins/">назад</a><br>
        <a href="/student-list/">Список студентов</a><br>
        <a href="/student-add/">Добавить студента на курс</a>
    </div>
    <br>
    <br>
    <div>
        <h1>Создание студента</h1>
        {% if is_conflict == 1 %}
        <b>Студент {{ name }} уже существует, введите другое имя</b>
        {% endif %}
        <form method="post">
            <input type="text" name="name" placeholder="Имя">
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "inc_footer.html" %}
{% endblock %}